<a href="https://colab.research.google.com/github/JonathanSeverino/Data_Science-ML/blob/master/Explora%C3%A7%C3%A3o_de_Dado_Kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
homes_melbourne = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Introdução a ML - Kaggle/melb_data.csv")
homes_melbourne.describe()

              Rooms         Price  ...    Longtitude  Propertycount
count  13580.000000  1.358000e+04  ...  13580.000000   13580.000000
mean       2.937997  1.075684e+06  ...    144.995216    7454.417378
std        0.955748  6.393107e+05  ...      0.103916    4378.581772
min        1.000000  8.500000e+04  ...    144.431810     249.000000
25%        2.000000  6.500000e+05  ...    144.929600    4380.000000
50%        3.000000  9.030000e+05  ...    145.000100    6555.000000
75%        3.000000  1.330000e+06  ...    145.058305   10331.000000
max       10.000000  9.000000e+06  ...    145.526350   21650.000000

[8 rows x 13 columns]

In [ ]:
#Deletando valores faltantes
homes_melbourne = homes_melbourne.dropna()